<p>update-account works!</p>
<h3>Update Account</h3>
 
<div [hidden]="submitted" style="width: 400px;">
<form (ngSubmit)="onSubmit()">


 	<input type="text" class="form-control" id="firstName" required [(ngModel)]="account.firstName" name="firstName">




 	<input type="text" class="form-control" id="lastName" required [(ngModel)]="account.lastName" name="lastName">




 	<input type="text" class="form-control" id="cin" required [(ngModel)]="account.cin" name="cin">



 	<label for="name">Account Number</label>
 
id="accountNumber" required [(ngModel)]="account.accountNumber" name="accountNumber">




 	<input type="text" class="form-control" id="agency" required [(ngModel)]="account.agency" name="agency">



 	<div class="form-group">
 
<label for="name">Amount</label>	
<input type="text" class="form-control" id="amount"
required [(ngModel)]="account.amount" name="amount">	
</div>	


 	<button type="submit" class="btn btn-success">Submit</button>
 	</form>
</div>
